#Ignore Visual Studio files
*.sln
*.vcxproj
*.filters
*.user

#Ignore compile files and folders
*/Debug
*/Release
*/x64
*/x86
*/build

*/*/Debug
*/*/Release
*/*/x64
*/*/x86
*/*/build


#Ignore html files and its related files
*.html
*_files

#Ignore hidden vs folder
.vs